/*
Dark Brown - #4b3832
Reddish Brown - #854442
Cream - #fff4e6
Purplish Brown - #3c2f2f
Light Brown - #be9b7b
*/

body {
	height: 750px;
	width: 100%;
	background-color: #fff4e6;
	margin: 0px;
	font-family: arial, sans-serif;
	font-size: 100%;
	color: #be9b7b;
}

.hidden {
	visibility: hidden;
}

.hover {
	opacity: 0.5;
	color: #854442;
}

.chosen {
	opacity: 1;
	color: #854442;
}

#gameStats {
	position: absolute;
	left: 20px;
	height: 340px;
	width: 250px;
	border: 5px solid #3c2f2f;
	border-radius: 5px;
}

#statsTitle {
	height: 35px;
	width: 250px;
	background-color: #be9b7b;
	font-size: 30px;
	color: #fff4e6;
	text-align: center;
}

#statsListContainer {
	margin-top: 0px;
	list-style-type: none;
}

.statsList {
	margin-top: 10px;
	margin-left: -30px;
	font-size: 20px;
	color: #854442;
}

#p1Name {
	text-decoration: underline;
}

#p2Name {
	margin-top: 20px;
	text-decoration: underline;
}

#totalTies {
	margin-top: 15px;
}

#totalGames {
	margin-top: 20px;
}

#board {
	position: relative;
	width: 350px;
	height: 350px;
	margin: 0px auto;
	margin-top: 10%;
	font-size: 120px;
}

.square {
	position: absolute;
	width: 31%;
	height: 31%;
	text-align: center;
	display: inline-block;
}

#sq0 {
	top: 0%;
	left: 1%;
}

#sq1 {
	top: 0%;
	left: 34%;
}

#sq2 {
	top: 0%;
	left: 67%;
}

#sq3 {
	top: 34%;
	left: 1%;
}

#sq4 {
	top: 34%;
	left: 34%;
}

#sq5 {
	top: 34%;
	left: 67%;
}

#sq6 {
	top: 67%;
	left: 1%;
}

#sq7 {
	top: 67%;
	left: 34%;
}

#sq8 {
	top: 67%;
	left: 67%;
}

.line {
	position: absolute;
	background-color: #3c2f2f;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

#ln0 {
	height: 2%;
	top: 34%;
}

#ln1 {
	height: 2%;
	top: 68%;
}

#ln2 {
	width: 2%;
	left: 32%;
}

#ln3 {
	width: 2%;
	left: 66%;
}

#winner {
	height: 10%;
	width: 100%;
	margin-top: 8%;
	font-size: 50px;
	text-align: center;
	color: #854442;
}
