/* 
Dark Brown - #4b3832
Reddish Brown - #854442
Cream - #fff4e6
Purplish Brown - #3c2f2f
Light Brown - #be9b7b
*/

body {
	height: 750px;
	width: 100%;
	background-color: #fff4e6;
	margin: 0px;
	/*margin-top: -100px;*/
	font-family: 'Overlock', arial, serif;
	font-size: 100%;
	color: #be9b7b;
}

.hidden {
	visibility: hidden;
}

#board {
	position: relative;
	width: 37%;
	height: 45%;
	margin: 0px auto;
	margin-top: 10%;
	font-size: 700%;
}

.square {
	position: absolute;
	width: 31%;
	height: 31%;
	text-align: center;
	display: inline-block;
}

#sq0 {
	top: 0%;
	left: 1%;
}

#sq1 {
	top: 0%;
	left: 34%;
}

#sq2 {
	top: 0%;
	left: 67%;
}

#sq3 {
	top: 34%;
	left: 1%;
}

#sq4 {
	top: 34%;
	left: 34%;
}

#sq5 {
	top: 34%;
	left: 67%;
}

#sq6 {
	top: 67%;
	left: 1%;
}

#sq7 {
	top: 67%;
	left: 34%;
}

#sq8 {
	top: 67%;
	left: 67%;
}

.line {
	position: absolute;
	background-color: #3c2f2f;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

#ln0 {
	height: 2%;
	top: 34%;
}

#ln1 {
	height: 2%;
	top: 68%;
}

#ln2 {
	width: 2%;
	left: 32%;
}

#ln3 {
	width: 2%;
	left: 66%;
}

#winner {
	height: 10%;
	width: 100%;
	margin-top: 8%;
	font-size: 500%;
	text-align: center;
	color: #854442;
}